*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import "todo";
@import "signIn";
@import "footer";
